<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>메모</title>
        <link rel="stylesheet" href="../assets/css/memos.css"/>
        <script src="https://kit.fontawesome.com/7d4c3e1ea0.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
        <script charset="UTF-8" src="../assets/script/memos.js"></script>
    </head>
    <body>
        <div id="box-container">
            <div id="header-box">
                <h1 class="title">
                    간단한 필기 메모장
                </h1>
                <div class="option">
                    <a id="option-delete">
                        <span class="icon">
                            <i class="fas fa-trash"></i>
                        </span>
                        <span>삭제</span>
                    </a>
                    <a id="option-add">
                        <span class="icon">
                            <i class="fas fa-pen-square"></i>
                        </span>
                        <span>추가</span>
                    </a>
                </div>  
            </div>
            <div id="nav-box">
                <ul class="out-ul">
                    <li class="top-li">
                        <a href="">전체보기</a>
                    </li>
                    <li class="bottom-li">
                        <ul id="category-ul">
                        </ul>
                    </li>
                </ul>
            </div>
            <div id="section-box">


            </div>
        </div>
    </body>
</html>
