@charset "UTF-8";

body {
    margin-top: 0;
    margin-bottom: 0;
    background-color: rgb(255, 255, 255);
}

/* box-container */
#box-container {
    display: grid;
    grid-template-columns: 280px 1000px;
    grid-template-rows: 90px auto;
    width: 1280px;
    height: 980px;
    margin: auto;
    box-sizing: border-box;
    background-color: rgb(166, 167, 169);
    
}

/* header-box */
#header-box {
    position: relative;
    grid-column: 1 / 2;
    grid-row: 1 / 1;
    height: 60px;
    width: 1200px;
    margin: 10px 40px;
    margin-top: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: rgb(253, 222, 69);
}
#header-box .title {
    position: absolute;
    left: 10px;
    top: 12px;
    padding: 0;
    margin: 0;
    font-size: 18px;
    color: rgb(26, 27, 28);
}
#header-box .option {
    position: absolute;
    right: 14px;
    bottom: 3px;
}
#header-box .option a {
    display: inline-block;
    width: 68px;
    text-align: center;
    font-weight: bold;
    margin: 0 2px;
    color: rgb(50, 52, 54);
    cursor: pointer;
}

/* nav-box */
#nav-box {
    position: relative;
    height: 30%;
    grid-column: 1 / 1;
    grid-row: 2 / 2;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #e0e0e0;
}

/* section-box */
#section-box {
    grid-column: 2 / 2;
    grid-row: 2 / 2;
    margin-top: 10px;
    margin-left: 20px;
    margin-right: 40px;
    margin-bottom: 20px;
    border-radius: 3px;
    box-sizing: border-box;
    background-color: #e0e0e0;
}
