@charset "UTF-8";

body {
    width: 1280px;
    margin: 0 auto;
    background-color: #e0e0e0;
}
pre {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
textarea, input, button {
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: none;
    font-size: 12px;
    resize: none;
    outline: none;
    color: #202020;
}

/* header */
header {
    position: relative;
    box-sizing: border-box;
    width: 860px;
    margin: 20px auto 0;
    padding: 10px;
    border-bottom: 1px solid #00c53b;
    border-radius: 10px 10px 0 0;
    background-color: #00ce3e;
}
header .title {
    box-sizing: border-box;
    color: #eeeeee;
    font-size: 23px;
}
header .submenu {
    display: block;
    position: absolute;
    right: 10px;
    bottom: 8px;
}
header .submenu > a {
    display: inline-block;
    color: #e0e0e0;
    font-weight: bold;
    text-decoration: none;
    margin: 0 10px;
}
header .submenu > a:hover {
    color: #befcff;
    cursor: pointer;
}
header .submenu > #delete {
    display: inline-block;
    position: relative;
    color: #fa1818;
    animation-duration: 1s;
    animation-name: show_delete;
}
@keyframes show_delete {
    from {
        display: inline-block;
        bottom: -10px;
    }
    to {
        display: inline-block;
        bottom: 0;
    }
}


/* nav */
nav {
    width: 180px;
    display: block;
    position: -webkit-sticky;
    position: sticky;
    top: 30px;
    float: left;
    border-radius: 3px;
    background-color: #f0f0f0;
}
nav ul {
    margin: 0 6px;
    padding: 0;
    padding-left: 10px;
    list-style: none;
}
nav li {
    padding: 3px;
}

/* section */
section {
    width: 860px;
    margin: 0 auto;
    padding: 10px 0;
    background-color: #eeeeee;
    min-height: 800px;
}

/* .memo-box */
.content-box {
    display: grid;
    grid-template-columns: 215px 215px 215px 215px;
    overflow: auto;
    margin: 0;
    padding: 0;
    font-size: 12px;
}
.content-box .memo-box {
    width: 200px;
    height: 260px;
    margin: 8px;
    background-color: #fffef2;
    box-shadow: 3px 3px 3px #606060;
}
.content-box .title-box {
    height: 32px;
    padding: 8px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e4d9;
}
.content-box .title-box .title{
    display: inline-block;
    width: 160px;
    overflow: hidden;
    text-overflow:ellipsis; 
    white-space:nowrap;

}
.content-box .title-box .checkbox{
    float: right;
}
.content-box .content {
    padding: 8px;
    box-sizing: border-box;
    color: #363636;
}
.content-box .content pre {
    display: block;
    width: 185px;
    height: 200px;
    box-sizing: border-box;
    word-break: break-all;
    white-space: pre-wrap;
    overflow: auto;
}
